body {
    background-image: linear-gradient(to bottom, rgba(255,128,255,0.5), rgba(0,0,128,0.5));
}

footer{
    background-color:#73767d;
    color:#fff;
    text-align:center;
    padding:10px 0px;
}
.logo img{
    width: 100%; 
    height: 80px; 
    margin-top: -50px; 
    border-radius: 100px;
    margin-left: 5px;
}
#navbar{
    /* padding-top: 35px; */
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    /* position: absolute; */
    /* opacity: 0.3; */
    top: 0;
    left: 0;
    z-index: 999;
     font-family: sans-serif;
}
#navbar .logo{
    margin-top: 0px;
    width: 5rem;
   
    margin-left: 30px;
    z-index: 5;
}
#navbar .logo img{
    width: 100%;
    margin-top: 10%;
}
#navbar .nav-items{
    display: flex;
    list-style: none;
    margin-right: 30px;
    margin: 25px 30px 25px 0;
}
#navbar .nav-items li{
    margin: 0 1rem;
}
#navbar .nav-items li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    cursor: pointer;
     font-family: sans-serif;
}
#navbar .nav-items li a:hover{
    color: blue;
}

.blocmaquette
{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: aliceblue;
}

.grandblocmaquette
{
    width: 100%;
    height: 90px;
    display: flex;
   justify-content: space-between;
   margin-top: 50px;
   margin-bottom: 350px;
}

.grandblocmaquette2
{
    width: 100%;
    height: 90px;
    display: flex;
   justify-content: space-between;
   margin-top: 50px;
   margin-bottom: 450px;
}